<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Escape Rooms for Ukraine</title>

    <link rel="stylesheet" href="/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MNYYX4GD0T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MNYYX4GD0T');
    </script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="flow">
      {{ content | safe }}
    </main>
    <footer class="flow">
      <h2>About</h2>
      <p>This website was created as a project of <a href="https://er-go.org/">ERGO</a>, an escape room trade organization based in the United States, along with other escape room owners and enthusiasts arounnd the world. It was built pro bono by <a href="https://sia.codes">Sia Karamalegos</a>.</p>
    </footer>
  </body>
</html>
